
/*
*
* variables
*
*/

@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(175, 75, 100); /*rgb(151, 47, 108);*/
}

@property --highlight-color-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(175, 75, 100); /*rgb(151, 47, 108);*/
}

@property --highlight-color-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(0, 0, 0); 
}

/*
*
* text
*
*/

@font-face {
  font-family: ProggyClean; /* set name */
  src: url("res/font/ProggyClean/ProggyClean.ttf"); /* url of the font */
}

@font-face {
  font-family: Helvetica; /* set name */
  src: url("res/font/Helvetica/Helvetica.ttf"); /* url of the font */
}

.title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 8vh; /*3.5rem;*/
    font-weight: bold;

    margin: 8px;
}

.sub_title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 4vh;

    margin: 8px;
}

.sub_title_text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 4vh;

    margin: 8px;
}

.text_white {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;

    margin: 8px;
}

.text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/

    margin: 8px;
}

.text_grey {
    color: #8e8e8e;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;

    margin: 8px;
}

/*
*
* Highlight
*
*/

::selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-moz-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-webkit-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}

mark {
    background: var(--highlight-color-primary);
    color: var(--highlight-color-secondary);
}

/*
*
* Div
*
*/

body {

    background-color: #000000;
    margin: 0px;

}






.main {
    background-color: white;

    width: auto;
    height: auto;

    padding-left: 12.5%;
    padding-right: 12.5%;

    text-align: left;

    padding-top: 16px;
    padding-bottom: 32px;

}



/*
.painting1 {
    width: auto;
    height: auto;

    background-image: url("gallery1/res/krajina221025.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
*/

.painting {
    display: flex;
    flex-direction: row;
    /*
    justify-content: center;
    align-items: center;
    */

    width: auto;
    height: auto;

    /*padding-left: 12.5vw;
    padding-right: 12.5vw;*/

}

.painting_image {
    width: 100%;
    height: auto;
}

.painting_about {
    width: 100%;
    /*height: max-content;*/

    text-align: left;
    
    /*margin-bottom: 32px;*/

    background-color: #000000;
}



/*
*
* Bottom
*
*/

.bottom {
    width: auto;
    height: auto;

    background-color: #000000;
    
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 10vh;
    padding-bottom: 10vh;

    text-align: center;
    justify-content: center;

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;

    width: auto;
    height: auto;

    margin-bottom: 10vh;

    text-align: center;
}

/* other social clickable icon link*/
.link_icon {
    width: 2rem;
    height: 2rem;

    text-decoration: none;

    opacity: 1.0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.link_icon:hover {
    opacity: 0.5;

    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}