
/*
*
* Text
*
*/

@font-face {
  font-family: ProggyClean; /* set name */
  src: url("res/font/ProggyClean/ProggyClean.ttf"); /* url of the font */
}

@font-face {
  font-family: Helvetica; /* set name */
  src: url("res/font/Helvetica/Helvetica.ttf"); /* url of the font */
}

.title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: bold;

    margin-top: 16px;
    margin-bottom: 16px;

    margin-left: 16px;
}

.sub_title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;

    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.sub_title_text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;

    margin-top: 8px;
    margin-bottom: 8px;

    margin-left: 8px;
}

.text {
    color: #8e8e8e;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;

    margin-top: 8px;
    margin-bottom: 8px;

    margin-left: 8px;
}

.text_white {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;

    margin-top: 8px;
    margin-bottom: 8px;

    margin-left: 8px;
}

::selection {
  background: #ffff40;
  color: #000000;
}
::-moz-selection {
  background: #ffff40;
  color: #000000;
}
::-webkit-selection {
  background: #ffff40;
  color: #000000;
}

mark {
    background: #ffcc00;
    color: #000000;
}

.text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/

    margin-top: 8px;
    margin-bottom: 8px;
}

/*
*
* Div
*
*/

body {

    background-color: #000000;
    margin: 0px;

}






.main {
    background-color: white;

    width: auto;
    height: auto;

    padding-left: 12.5%;
    padding-right: 12.5%;

    text-align: left;

    padding-top: 16px;
    padding-bottom: 32px;

}



/*
.painting1 {
    width: auto;
    height: auto;

    background-image: url("gallery1/res/krajina221025.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
*/

.painting {
    display: flex;
    flex-direction: row;
    /*
    justify-content: center;
    align-items: center;
    */

    width: auto;
    height: auto;

    /*padding-left: 12.5vw;
    padding-right: 12.5vw;*/

}

.painting_image {
    width: 100%;
    height: auto;
}

.painting_about {
    width: 100%;
    /*height: max-content;*/

    text-align: left;
    
    /*margin-bottom: 32px;*/

    background-color: #000000;
}



.bottom {
    width: auto;
    height: auto;


    background-color: #000000;

    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 16px;
    padding-bottom: 16px;

    text-align: left;
    justify-content: center;


}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 32px;

    width: auto;
    height: auto;

    margin-top: 16px;
    margin-bottom: 16px;

    text-align: center;
}

/* other social clickable icon link*/
.link_icon {
    width: 2rem;
    height: 2rem;

    text-decoration: none;

    opacity: 1.0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.link_icon:hover {
    opacity: 0.5;

    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}