
@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(151, 47, 108);
}

/*
*
* Text
*
*/

@font-face {
  font-family: ProggyClean; /* set name */
  src: url("res/font/ProggyClean/ProggyClean.ttf"); /* url of the font */
}

@font-face {
  font-family: Helvetica; /* set name */
  src: url("res/font/Helvetica/Helvetica.ttf"); /* url of the font */
}

.title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: bold;

    margin-top: 16px;
    margin-bottom: 16px;
}

.sub_title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;

    margin-top: 8px;
    margin-bottom: 8px;
}

.sub_title_text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;

    margin-top: 8px;
    margin-bottom: 8px;
}

.text {
    color: #8e8e8e;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;

    margin-top: 8px;
    margin-bottom: 8px;
}

.text_white {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;

    margin-top: 8px;
    margin-bottom: 8px;
}

::selection {
  background: var(--main-color);
  color: #000000;
  /*
  background: #ffff40;
  color: #000000;
  */
}
::-moz-selection {
  background: var(--main-color);
  color: #000000;
}
::-webkit-selection {
  background: var(--main-color);
  color: #000000;
}

mark {
    background: var(--main-color);
    color: #000000;
}

.text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/

    margin-top: 8px;
    margin-bottom: 8px;
}

/*
*
* Div
*
*/

body {

    background-color: #000000;
    margin: 0px;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: #ffffff;

    padding-left: 16px;
    padding-right: 16px;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /**/
    /*gap: 1rem;*/

    top: 0px;
    width: auto;
    height: auto;
    min-height: 100vh; /*40vh*/
    /*margin-bottom: 16px;*/

    /*background-color: #030061;*/ /*#030061*/ /*#61001b*/

    /* gradient 
    background: radial-gradient(circle at 30% 50%, rgb(0, 32, 128), rgb(3, 0, 97) 60%);
    */
    background: linear-gradient(rgba(255, 0, 150, 0.3) 80%, rgb(255, 255, 255)), url("res/image/banner-21112025.png");
    /*background-image: url("res/image/banner-21112025.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 32px;
    padding-bottom: 32px;

    text-align: left;

}

.home_title {
    flex-grow: 1;
    
    width: 60%;
    min-width: 300px;
    height: auto;

    padding-top: 10vh;
}

.home_about {
    flex-grow: 1;

    width: 40%;
    height: auto;

    padding-top: 10vh;
}

@keyframes home_about_animation {
    from {opacity: 0.0};
    to {opacity: 1.0};
}

/* kdyz je in view */
.home_about.in-view {
    animation: home_about_animation 1s ease;
}

.main_main {
    width: auto;
    height: auto;
    background-color: #ffffff;

    padding-top: 16px;
    padding-bottom: 32px;

    /* shadow */
    /* box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.5); */
}


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: auto;
    height: auto;


    padding-left: 12.5%;
    padding-right: 12.5%;

    text-align: left;

    padding-top: 16px;
}

@keyframes main_animation {
    from {opacity: 0.0};
    to {opacity: 1.0};
}

/* kdyz je in view */
.main.in-view {
    animation: main_animation 1s ease;
}

.main_about {
    flex-grow: 1;

    width: 40%;
    min-width: 300px;
    
    height: auto;
}

.main_content {
    flex-grow: 1;

    width: 60%;
    height: auto; /*40vh*/

    /* overflow: auto; */

    /* border-radius: 4px; */
}

.main_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 200px;
    /*min-height: 50%;*/
    background-color: #d8d8d8; /*#d8d8d8*/

    text-decoration: none;

    outline-color: rgba(0, 0, 0, 0);


    /* hover transition */
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    
}

.main_card:hover {
    background-color: var(--main-color); /*#e5ff00*/ /*#ffcc00*/ /*#ffff40*/
    


    /* hover transition */
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.main_card_about {
    width: 60%;
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    
}

.main_card_thumbnail {
    width: 40%;
    height: auto;
    object-fit: cover;
}


.bottom {
    width: auto;
    height: auto;
    /*min-height: 40vh;*/
    /*margin-bottom: 16px;*/

    background-color: #000000;

    /* shadow */
    /* box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.5); */

    /*box-shadow: 0px -8px 64px rgba(0, 0, 0, 0.5);*/


    
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 16px;
    padding-bottom: 16px;

    text-align: left;
    justify-content: center;

    /*background: linear-gradient(rgb(0, 0, 0) 50%, transparent 100%);*/

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 32px;

    width: auto;
    height: auto;

    margin-top: 16px;
    margin-bottom: 16px;

    text-align: center;
}

/* other social clickable icon link*/
.link_icon {
    width: 2rem;
    height: 2rem;

    text-decoration: none;

    opacity: 1.0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.link_icon:hover {
    opacity: 0.5;

    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}