
/*
*
* variables
*
*/

@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(175, 75, 100); /*rgb(151, 47, 108);*/
}

@property --highlight-color-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(175, 75, 100); /*rgb(151, 47, 108);*/
}

@property --highlight-color-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(0, 0, 0); 
}

/*
*
* text
*
*/

@font-face {
  font-family: ProggyClean; /* set name */
  src: url("res/font/ProggyClean/ProggyClean.ttf"); /* url of the font */
}

@font-face {
  font-family: Helvetica; /* set name */
  src: url("res/font/Helvetica/Helvetica.ttf"); /* url of the font */
}


.title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 8vh; /*3.5rem;*/
    font-weight: bold;

    margin: 8px;
}

.title_text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 8vh; /*3.5rem;*/
    font-weight: bold;

    margin: 8px;
}

.sub_title_text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 4vh;

    margin: 8px;
}

.sub_title_text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 4vh;

    margin: 8px;
}

.text_white {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;

    margin: 8px;
}

.text_black {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/

    margin: 8px;
}

.text_grey {
    color: #8e8e8e;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;

    margin: 8px;
}

/*
*
* marquee
*
*/

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}




/*
*
* Highlight
*
*/

::selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-moz-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}
::-webkit-selection {
  background: var(--highlight-color-primary);
  color: var(--highlight-color-secondary);
}

mark {
    background: var(--highlight-color-primary);
    color: var(--highlight-color-secondary);
}

/*
*
* Div
*
*/

body {

    background-color: #000000;
    margin: 0px;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: #ffffff;

    padding-left: 16px;
    padding-right: 16px;
}

.home {
    width: auto;
    height: auto;
    min-height: 100vh;

    background: linear-gradient(rgba(255, 0, 150, 0.1) 80vh, rgb(255, 255, 255)), url("res/image/banner-22112025.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    padding-left: 12.5%;
    padding-right: 12.5%;
    


    text-align: left;

}

.home_center_box {
    width: auto;
    height: auto;

    padding-top: 25vh;

}

.home_box {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    */

    width: auto;
    height: auto;
    min-height: 50vh;

    text-align: left;

    

    background-color: #ffffff;

    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
}

.home_page_bar {
    width: 100%;
    height: auto;
    background-color: #000000;

    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    white-space:nowrap;
    margin: 0;
    padding: 0;
}

.home_page_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: auto;
    height: auto;

    padding: 8px;
}


@keyframes home_box_animation {
    from {opacity: 0.0};
    to {opacity: 1.0};
}

/* kdyz je in view */
.home_box.in-view {
    animation: home_box_animation 1s ease;
}

.home_title {
    flex-grow: 1;
    
    min-width: 60%;
    min-width: 300px;
    height: auto;


}

.home_profile_picture {
    width: 30vh;
    height: 30vh;

    background-color: #ffffff;

    outline-style: solid;
    outline-color: #ffffff;
    outline-width: 4px;
}

.home_about {
    flex-grow: 1;

    min-width: 40%;
    height: auto;


}

@keyframes home_about_animation {
    from {opacity: 0.0};
    to {opacity: 1.0};
}

/* kdyz je in view */
.home_about.in-view {
    animation: home_about_animation 1s ease;
}

.main_main {
    width: auto;
    height: auto;
    background-color: #ffffff;
    /*background: linear-gradient(#ffffff 95%, #000000);*/

    padding-top: 16px;
    padding-bottom: 32px;

    /* shadow */
    /* box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.5); */
}


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: auto;
    height: auto;


    padding-left: 12.5%;
    padding-right: 12.5%;

    text-align: left;

    padding-top: 16px;
}

@keyframes main_animation {
    from {opacity: 0.0};
    to {opacity: 1.0};
}

/* kdyz je in view */
.main.in-view {
    animation: main_animation 1s ease;
}

.main_about {
    flex-grow: 1;

    width: 40%;
    min-width: 300px;
    
    height: auto;
}

.main_content {
    flex-grow: 1;

    width: 60%;
    height: auto; /*40vh*/

    /* overflow: auto; */

    /* border-radius: 4px; */
}

.main_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: auto;
    /*min-height: 50%;*/
    background-color: #d8d8d8; /*#d8d8d8*/

    text-decoration: none;

    outline-color: rgba(0, 0, 0, 0);


    /* hover transition */
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    
}

.main_card:hover {
    background-color: var(--main-color); /*#e5ff00*/ /*#ffcc00*/ /*#ffff40*/
    


    /* hover transition */
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.main_card_about {
    width: 60%;
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    
}

.main_card_thumbnail {
    width: 40%;
    height: auto;
    object-fit: cover;
}

/*
*
* Bottom
*
*/

.bottom {
    width: auto;
    height: auto;

    background-color: #000000;
    
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 10vh;
    padding-bottom: 10vh;

    text-align: center;
    justify-content: center;

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;

    width: auto;
    height: auto;

    margin-bottom: 10vh;

    text-align: center;
}

/* other social clickable icon link*/
.link_icon {
    width: 2rem;
    height: 2rem;

    text-decoration: none;

    opacity: 1.0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.link_icon:hover {
    opacity: 0.5;

    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}